<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>scripts.ClearTrip</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testCase7</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testCase6</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_Create_Round_Trip</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testCase9</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testCase8</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testCase3</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testCase2</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testCase5</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testCase4</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
