<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Regression Test Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="80ba90">  <td>21/12/28 12:14:42</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestScriptHandler.setUp()[pri:0, instance:scripts.ClearTrip@1700915]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-3@90327202</td>   <td></td> </tr>
<tr bgcolor="80ba90">  <td>21/12/28 12:14:42</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestScriptHandler.setUp()[pri:0, instance:scripts.ClearTrip@1700915]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-3@90327202</td>   <td></td> </tr>
<tr bgcolor="80ba90">  <td>21/12/28 12:14:42</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestScriptHandler.setUp()[pri:0, instance:scripts.ClearTrip@1700915]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-3@90327202</td>   <td></td> </tr>
<tr bgcolor="80ba90">  <td>21/12/28 12:14:42</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestScriptHandler.setUp()[pri:0, instance:scripts.ClearTrip@1700915]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-3@90327202</td>   <td></td> </tr>
<tr bgcolor="80ba90">  <td>21/12/28 12:14:42</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestScriptHandler.setUp()[pri:0, instance:scripts.ClearTrip@1700915]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-3@90327202</td>   <td></td> </tr>
<tr bgcolor="80ba90">  <td>21/12/28 12:14:42</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestScriptHandler.setUp()[pri:0, instance:scripts.ClearTrip@1700915]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-3@90327202</td>   <td></td> </tr>
<tr bgcolor="80ba90">  <td>21/12/28 12:14:42</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestScriptHandler.setUp()[pri:0, instance:scripts.ClearTrip@1700915]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-3@90327202</td>   <td></td> </tr>
<tr bgcolor="80ba90">  <td>21/12/28 12:14:42</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestScriptHandler.setUp()[pri:0, instance:scripts.ClearTrip@1700915]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-3@90327202</td>   <td></td> </tr>
<tr bgcolor="80ba90">  <td>21/12/28 12:14:42</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestScriptHandler.setUp()[pri:0, instance:scripts.ClearTrip@1700915]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-3@90327202</td>   <td></td> </tr>
<tr bgcolor="80ba90">  <td>21/12/28 12:15:02</td>   <td>20065</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestScriptHandler.tearDown()[pri:0, instance:scripts.ClearTrip@1700915]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-1@545707870</td>   <td></td> </tr>
<tr bgcolor="80ba90">  <td>21/12/28 12:15:02</td>   <td>20065</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestScriptHandler.tearDown()[pri:0, instance:scripts.ClearTrip@1700915]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-1@545707870</td>   <td></td> </tr>
<tr bgcolor="80ba90">  <td>21/12/28 12:15:02</td>   <td>20065</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestScriptHandler.tearDown()[pri:0, instance:scripts.ClearTrip@1700915]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-1@545707870</td>   <td></td> </tr>
<tr bgcolor="80ba90">  <td>21/12/28 12:15:02</td>   <td>20065</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestScriptHandler.tearDown()[pri:0, instance:scripts.ClearTrip@1700915]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-1@545707870</td>   <td></td> </tr>
<tr bgcolor="80ba90">  <td>21/12/28 12:15:02</td>   <td>20065</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestScriptHandler.tearDown()[pri:0, instance:scripts.ClearTrip@1700915]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-1@545707870</td>   <td></td> </tr>
<tr bgcolor="80ba90">  <td>21/12/28 12:15:02</td>   <td>20065</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestScriptHandler.tearDown()[pri:0, instance:scripts.ClearTrip@1700915]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-1@545707870</td>   <td></td> </tr>
<tr bgcolor="80ba90">  <td>21/12/28 12:15:02</td>   <td>20065</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestScriptHandler.tearDown()[pri:0, instance:scripts.ClearTrip@1700915]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-1@545707870</td>   <td></td> </tr>
<tr bgcolor="80ba90">  <td>21/12/28 12:15:02</td>   <td>20065</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestScriptHandler.tearDown()[pri:0, instance:scripts.ClearTrip@1700915]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-1@545707870</td>   <td></td> </tr>
<tr bgcolor="80ba90">  <td>21/12/28 12:15:02</td>   <td>20065</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestScriptHandler.tearDown()[pri:0, instance:scripts.ClearTrip@1700915]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-1@545707870</td>   <td></td> </tr>
<tr bgcolor="6297d2">  <td>21/12/28 12:14:07</td>   <td>-35213</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ClearTrip.testCase2()[pri:0, instance:scripts.ClearTrip@1700915]">testCase2</td> 
  <td>TestNG-test=Test-1@545707870</td>   <td></td> </tr>
<tr bgcolor="6297d2">  <td>21/12/28 12:14:17</td>   <td>-25407</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ClearTrip.testCase3()[pri:0, instance:scripts.ClearTrip@1700915]">testCase3</td> 
  <td>TestNG-test=Test-2@471977451</td>   <td></td> </tr>
<tr bgcolor="6297d2">  <td>21/12/28 12:14:34</td>   <td>-8364</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ClearTrip.testCase4()[pri:0, instance:scripts.ClearTrip@1700915]">testCase4</td> 
  <td>TestNG-test=Test-3@90327202</td>   <td></td> </tr>
<tr bgcolor="6297d2">  <td>21/12/28 12:14:27</td>   <td>-15173</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ClearTrip.testCase5()[pri:0, instance:scripts.ClearTrip@1700915]">testCase5</td> 
  <td>TestNG-test=Test-1@545707870</td>   <td></td> </tr>
<tr bgcolor="6297d2">  <td>21/12/28 12:14:37</td>   <td>-5337</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ClearTrip.testCase6()[pri:0, instance:scripts.ClearTrip@1700915]">testCase6</td> 
  <td>TestNG-test=Test-2@471977451</td>   <td></td> </tr>
<tr bgcolor="6297d2">  <td>21/12/28 12:15:02</td>   <td>20056</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ClearTrip.testCase7()[pri:0, instance:scripts.ClearTrip@1700915]">testCase7</td> 
  <td>TestNG-test=Test-1@545707870</td>   <td></td> </tr>
<tr bgcolor="6297d2">  <td>21/12/28 12:14:42</td>   <td>-436</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ClearTrip.testCase8()[pri:0, instance:scripts.ClearTrip@1700915]">testCase8</td> 
  <td>TestNG-test=Test-3@90327202</td>   <td></td> </tr>
<tr bgcolor="6297d2">  <td>21/12/28 12:14:47</td>   <td>4547</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ClearTrip.testCase9()[pri:0, instance:scripts.ClearTrip@1700915]">testCase9</td> 
  <td>TestNG-test=Test-2@471977451</td>   <td></td> </tr>
<tr bgcolor="6297d2">  <td>21/12/28 12:14:52</td>   <td>9549</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ClearTrip.verify_Create_Round_Trip()[pri:0, instance:scripts.ClearTrip@1700915]">verify_Create_Round_Trip</td> 
  <td>TestNG-test=Test-3@90327202</td>   <td></td> </tr>
</table>
