<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c386de">  <td>21/12/23 20:12:35</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestScriptHandler.setUp()[pri:0, instance:scripts.ClearTrip@7748410a]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1296456465</td>   <td></td> </tr>
<tr bgcolor="f978b0">  <td>21/12/23 20:12:42</td>   <td>6955</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ClearTrip.verify_Create_Round_Trip()[pri:0, instance:scripts.ClearTrip@7748410a]">verify_Create_Round_Trip</td> 
  <td>main@1296456465</td>   <td></td> </tr>
<tr bgcolor="c386de">  <td>21/12/23 20:12:47</td>   <td>11877</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestScriptHandler.tearDown()[pri:0, instance:scripts.ClearTrip@7748410a]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1296456465</td>   <td></td> </tr>
</table>
