<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="80ba90">  <td>21/12/23 10:43:35</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestScriptHandler.setUp()[pri:0, instance:scripts.ClearTrip@31c88ec8]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=Test-1@1557363958</td>   <td></td> </tr>
<tr bgcolor="80ba90">  <td>21/12/23 10:43:55</td>   <td>20419</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestScriptHandler.tearDown()[pri:0, instance:scripts.ClearTrip@31c88ec8]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=Test-2@342335969</td>   <td></td> </tr>
<tr bgcolor="6297d2">  <td>21/12/23 10:43:42</td>   <td>7414</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ClearTrip.testCase2()[pri:0, instance:scripts.ClearTrip@31c88ec8]">testCase2</td> 
  <td>TestNG-test=Test-1@1557363958</td>   <td></td> </tr>
<tr bgcolor="6297d2">  <td>21/12/23 10:43:42</td>   <td>7414</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ClearTrip.verify_Create_Round_Trip()[pri:0, instance:scripts.ClearTrip@31c88ec8]">verify_Create_Round_Trip</td> 
  <td>TestNG-test=Test-2@342335969</td>   <td></td> </tr>
</table>
