<h2>Reporter output</h2><table><tr><td>'Chrome' browser launched</td></tr>
<tr><td><br> Method name is - testCase2 ;</td></tr>
<tr><td><br> Method name is - verify_Create_Round_Trip ;</td></tr>
<tr><td><br> Test success and Status of execution is 1 ;</td></tr>
<tr><td>Error in methodstale element reference: element is not attached to the page document
  (Session info: chrome=96.0.4664.110)
For documentation on this error, please visit: https://www.seleniumhq.org/exceptions/stale_element_reference.html
Build info: version: '3.141.59', revision: 'e82be7d358', time: '2018-11-14T08:17:03'
System info: host: 'MATHI6257', ip: '192.168.1.37', os.name: 'Windows 8.1', os.arch: 'amd64', os.version: '6.3', java.version: '17.0.1'
Driver info: org.openqa.selenium.chrome.ChromeDriver
Capabilities {acceptInsecureCerts: false, browserName: chrome, browserVersion: 96.0.4664.110, chrome: {chromedriverVersion: 95.0.4638.69 (6a1600ed572fe..., userDataDir: C:\Users\MATHIV~1\AppData\L...}, goog:chromeOptions: {debuggerAddress: localhost:61013}, javascriptEnabled: true, networkConnectionEnabled: false, pageLoadStrategy: normal, platform: WINDOWS, platformName: WINDOWS, proxy: Proxy(), setWindowRect: true, strictFileInteractability: false, timeouts: {implicit: 0, pageLoad: 300000, script: 30000}, unhandledPromptBehavior: dismiss and notify, webauthn:extension:credBlob: true, webauthn:extension:largeBlob: true, webauthn:virtualAuthenticators: true}
Session ID: b03adb90b72dffcdbaaee125a72e96b8</td></tr>
<tr><td><br> Test success and Status of execution is 1 ;</td></tr>
</table>